.hero {
    background-image: url(../../static/header-bg.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    h1 {
        font-size: 1.5rem;
        font-weight: $fw-normal;
        color: $dark-green;
        line-height: 2;
        text-align: center;

        @include mq {
            font-size: 3rem;
        }

        span {
            display: block;
            @include sans-serif($fs: 5.5rem, $color: $accent-green);

            @include mq {
                font-size: 8vw;
            }
        }

        &::before,
        &::after {
            content: '';
            display: block;
            width: 80%;
            height: 1px;
            background: $dark-green;
        }

        &::before {
            margin: 0 auto 2em;
        }

        &::after {
            margin: 2em auto 0;
        }
    }
}